/*
:root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
}
*/

:root {
    --bg1: rgba(60, 60, 60, 1);
    --bg2: rgba(133, 131, 131, 0);
    --bg3: rgba(159, 159, 160, 0.897);
    --color1: rgb(255, 255, 255);
    --color2: rgb(94, 169, 240);
    --color3: rgb(255, 196, 0);
    --color4: rgba(255, 255, 255, 0.699);
    --gray1: lightgray;
} 